/*
seletor{
    propriedade: valor;
    propriedade: valor;
}
*/

h3{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    color:rgb(48, 206, 206);
}

p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    line-height: 35px;
    color: chartreuse;
}
#paragrafo01{
    margin-right: 300px;
    text-transform: uppercase ;
}

#paragrafo02{
    margin-right: 300px;
    background-color: crimson;
}

body{
    background-color:burlywood;
}
